conda.enabled = true
conda.createTimeout = '3 h'

profiles {
  conda {
	process.conda = "$baseDir/environment.yml"
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
    withLabel: big_mem {
        memory = 16.GB
    }
}

params.output_path = "${baseDir}/output"

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/annotation-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/annotation-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/annotation-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/annotation-nf_dag.html"
}
